
﻿################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ipch
*.db
*.opendb
*.db-shm
*.db-wal
*.sqlite
*.json
*.tlog
*.obj
*.log
*.pdb
*.pch
*.iobj
*.ipdb
*.lib
*.exp
*.cache
*.lref
*.FileListAbsolute.txt