<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="directxtk_desktop_2015" version="2018.10.31.1" targetFramework="native" />
  <package id="EasyHookNativePackage" version="2.7.6789" targetFramework="native" />
  <package id="EasyHookNativePackage.redist" version="2.7.6789" targetFramework="native" />
  <package id="FW1FontWrapper" version="1.1.2017.317" targetFramework="native" />
</packages>